body{
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom,rgb(206, 213, 233),rgb(155,168,201),rgb(135,151,189),rgb(84,107,157),rgb(65, 91, 145));
}
#root{
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
